.header {
    width: 700px;
    height: 128px;
    background-image: url(media/header.png);
    background-size: contain;
    background-position: center;
    margin:auto;
    border: 3px solid black;
}
.links {
    width: 700px;
    height: 50px;
    border: 3px solid black;
    margin:auto;
    margin-top: 3px;
    text-align: center;
    line-height: 50px;
}
.centered{
    margin: auto;
    text-align: center;
}
.workinprogress{
    text-align: center;
}