body {
    background-color: #FFCDB2;
    font-family: Courier New;
    font-weight: bold;
}
.header {
    width: 690px;
    height: 64px;
    background-color: #FFCDB2;
    background-image: url(/media/header3.png);
    font-size: 20px;
    margin: auto;
    padding-left: 10px;
    color: #3B3030;
    border: 3px solid #B5828C;
}
.links {
    width: 700px;
    height: 50px;
    border: 3px solid #B5828C;
    background-color: #FFCDB2;
    margin:auto;
    margin-top: 3px;
    text-align: center;
    line-height: 50px;
}
.centered{
    margin: auto;
    text-align: center;
}
.workinprogress{
    text-align: center;
}
.maindiv{
    margin:auto;
    margin-top: 3px;
    padding-left: 10px;
    width: 690px;
    height: 200px;
    border: 3px solid #B5828C;
}
footer {
    text-align: center
}